<app-breadcrumb [title]="'Cart'" [breadcrumb]="'Cart'"></app-breadcrumb>

<div class="container">
  <div class="cart-wrapper sec-padding">
     <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="!shoppingCartItems.length">
        <mat-chip-list>
           <mat-chip color="warn" selected="true">NO TIEMES ITEMS CARGADOS.</mat-chip>
        </mat-chip-list>
        <div>
           <a  mat-raised-button color="primary" class="btn-project mt-20">Continuar comprando</a>
        </div>
     </div>
     <mat-card *ngIf="shoppingCartItems.length"  class="p-0">
        <div class="mat-table cart-table">
           <div class="mat-header-row">
              <div class="mat-header-cell">Producto</div>
              <div class="mat-header-cell">Nombre</div>
              <div class="mat-header-cell">Precio</div>
              <div class="mat-header-cell">Cantidad</div>
              <div class="mat-header-cell">Total</div>
              <div class="mat-header-cell">Accion</div>
           </div>
           <div *ngFor="let item of shoppingCartItems"  class="mat-row">
              <div class="mat-cell"><img [src]="item.product.pictures[0].small"></div>
              <div class="mat-cell"><a  class="product-name">{{item.product.name}}</a></div>
              <div class="mat-cell price">{{item.product.price | number : '1.2-2'}}</div>
              <div class="mat-cell text-muted">
                 <div fxLayout="row" fxLayout.xs="column"  class="text-muted">
                    <div fxLayout="row" fxLayoutAlign="center start">
                       <button
                              [disabled]="item.error"  
                              mat-icon-button 
                              matTooltip="Remove" 
                              (click)="decrement(item.product)">
                          <mat-icon>remove</mat-icon>
                       </button>
                       <input type="text" 
                              name="quantity"  
                              [(ngModel)]="item.quantity"  
                              (input)="valuechange(item,$event.target.value)"
                              class="form-control input-number"
                              >
                     <span
                              class="mat-error"
                              *ngIf="item.error"
                              >Verifique esta cantidad</span
                            >

                       <button mat-icon-button matTooltip="Add" 
                       [disabled]="item.error" 
                       (click)="increment(item.product)">
                          <mat-icon>add</mat-icon>
                       </button>
                    </div>

                 </div>
              </div>
              <div class="mat-cell total">{{item.product.price * item.quantity | number : '1.2-2' }}</div>
              <div class="mat-cell text-center">
                 <div class="p-1">
                    <mat-icon (click)="removeItem(item)">close</mat-icon>
                 </div>
              </div>
           </div>
           <div class="mat-row">
              <div class="mat-cell"><a  mat-raised-button color="primary"  class="btn-project" [routerLink]="['/home']" routerLinkActive="router-link-active" >Continuar Comprando</a></div>
              <div class="mat-cell"></div>
              <div class="mat-cell"></div>
              <div class="mat-cell text-right">
                 <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-2">
                    <span class="new-price">TOTAL: {{getTotal()  | async | currency:productsService?.currency:'symbol'}}</span>
                 </div>
              </div>
              <div class="mat-cell text-center"><a mat-raised-button color="primary"  
                                                class="btn-project" 
                                                [routerLink]="[]"
                                                *ngIf="permitirContinuar()==true"
                                                [disabled]="permitirContinuar()" 
                                                routerLinkActive="router-link-active" >Finalizar Compra</a>
                                                <a mat-raised-button color="primary"  
                                                class="btn-project" 
                                                [routerLink]="['/pages/checkout']"
                                                *ngIf="permitirContinuar()==false"
                                                [disabled]="permitirContinuar()" 
                                                routerLinkActive="router-link-active" >Finalizar Compra</a>
                                             </div>
           </div>
        </div>
     </mat-card>
  </div>
</div>
