<app-breadcrumb [title]="'Testimonials'" [breadcrumb]="'Testimonials'"></app-breadcrumb>

<div class="sec-padding">
    <div class="container">
        <div fxLayout="row wrap" class="testimonials-component" >
            
            <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
              <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                <ngx-skeleton-loader
                *ngIf="!contentLoaded"
                  count="2"
                  [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                ></ngx-skeleton-loader>
                <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/1.png" alt=""></div>
                <div *ngIf="contentLoaded" class="content text-center">
                 
                  <div  class="text-muted m-0 text">Who loves or pursues or desires
                    to obtain pain of itself, because it
                    can procure great pleasure.</div>
                    <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                </div>
              </mat-card>
            </div>
            <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
                <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                  <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                    count="2"
                    [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                  ></ngx-skeleton-loader>
                  <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/2.png" alt=""></div>
                  <div *ngIf="contentLoaded" class="content text-center">
                   
                    <div  class="text-muted m-0 text">Who loves or pursues or desires
                      to obtain pain of itself, because it
                      can procure great pleasure.</div>
                      <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                  </div>
                </mat-card>
              </div>
              <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
                <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                  <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                    count="2"
                    [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                  ></ngx-skeleton-loader>
                  <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/3.png" alt=""></div>
                  <div *ngIf="contentLoaded" class="content text-center">
                   
                    <div  class="text-muted m-0 text">Who loves or pursues or desires
                      to obtain pain of itself, because it
                      can procure great pleasure.</div>
                      <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                  </div>
                </mat-card>
              </div>
              <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
                <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                  <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                    count="2"
                    [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                  ></ngx-skeleton-loader>
                  <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/4.png" alt=""></div>
                  <div *ngIf="contentLoaded" class="content text-center">
                   
                    <div  class="text-muted m-0 text">Who loves or pursues or desires
                      to obtain pain of itself, because it
                      can procure great pleasure.</div>
                      <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                  </div>
                </mat-card>
               
              </div>
          </div>
          <div fxLayout="row wrap" class="testimonials-component" >
            <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
                <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                  <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                    count="2"
                    [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                  ></ngx-skeleton-loader>
                  <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/5.png" alt=""></div>
                  <div *ngIf="contentLoaded" class="content text-center">
                   
                    <div  class="text-muted m-0 text">Who loves or pursues or desires
                      to obtain pain of itself, because it
                      can procure great pleasure.</div>
                      <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                  </div>
                </mat-card>
              </div>
              <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
                <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                  <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                    count="2"
                    [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                  ></ngx-skeleton-loader>
                  <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/5.png" alt=""></div>
                  <div *ngIf="contentLoaded" class="content text-center">
                   
                    <div  class="text-muted m-0 text">Who loves or pursues or desires
                      to obtain pain of itself, because it
                      can procure great pleasure.</div>
                      <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                  </div>
                </mat-card>
              </div>
              <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
                <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                  <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                    count="2"
                    [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                  ></ngx-skeleton-loader>
                  <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/5.png" alt=""></div>
                  <div *ngIf="contentLoaded" class="content text-center">
                   
                    <div  class="text-muted m-0 text">Who loves or pursues or desires
                      to obtain pain of itself, because it
                      can procure great pleasure.</div>
                      <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                  </div>
                </mat-card>
              </div>
              <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" >
                <mat-card class="light-block" fxLayout="column"  fxLayoutAlign="start center" >
                  <ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }" appearance="circle" animation="progress" *ngIf="!contentLoaded"></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                    count="2"
                    [theme]="{ 'border-radius': '0', width: '250px', height: '15px' }"
                  ></ngx-skeleton-loader>
                  <div *ngIf="contentLoaded" class="reviewer"><img src="assets/images/avatars/5.png" alt=""></div>
                  <div *ngIf="contentLoaded" class="content text-center">
                   
                    <div  class="text-muted m-0 text">Who loves or pursues or desires
                      to obtain pain of itself, because it
                      can procure great pleasure.</div>
                      <p class="name" *ngIf="contentLoaded">Michael Miller</p>
                  </div>
                </mat-card>
              </div>
          </div>
    </div>
</div>


