
<div class="succesfull-message" fxLayout="column">
    <span class="material-icons">
        check_circle
        </span>
    <h2>THANK YOU</h2>
<p>Payment Is Successfully Processed And Your Order Is On The Way</p>
<p>Transaction ID:FT7GYJBHL98RFGHYG87</p>
</div>
<div class="container">
    <div class="order-success sec-padding">
        <div fxLayout="row wrap" fxLayoutAlign="space-between start"  class="">
            <div class="billing-details  pr-15" fxFlex="100" fxFlex.gt-md="45" fxFlex.md="45">
              <div class="header-title">
                  <h3>Order Details</h3>
              </div>  
              <div class="product-order-details mb-30" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center">
                  <div class="order-img" fxFlex="25">
                    <img src="assets/images/product/small/headphone1/headphone1.png" alt="" class="img-fluid">
                  </div>
                  <div class="order-name " fxFlex="25">
                      <p class="order-name mt-5">Product Name</p>
                      <span>Headset Perro</span>
                  </div>
                  <div class="order-quantity" fxFlex="25">
                      <p>Cantidad</p>
                      <span>1</span>
                  </div>
                  <div class="order-price" fxFlex="25">
                      <p>Precio</p>
                      <span>$78.00</span>
                  </div>
              </div>  
              <ul class="price-list mb-30">
                <div class="header-title">
                    <h3>Summary of payments</h3>
                </div>  
                <li>
                 <p>Refunds</p>  <span class="amount">$0.00</span>
                </li>
                <li>
                    <p>Balance</p>  <span class="amount">$10.00</span>
                   </li>
                
            </ul>
            <ul class="price-list mb-30">
                <div class="header-title">
                    <h3>Eligible ID</h3>
                </div>  
                <li>
                 <p>VGHF687YGTU7FTY7</p>  
                </li>
         
                
            </ul>
            <ul class="price-list mb-20">
                <div class="header-title">
                    <h3>Payment method used</h3>
                </div>  
                <li *ngFor="let payment of paymantWay">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-radio-group  >
                            <mat-radio-button fxLayout="column" [value]="payment"></mat-radio-button> 
                          </mat-radio-group>
                          <img [src]="payment.image" alt="">
                          <p>{{payment.title}}</p>
                    </div>
                    <span>{{payment.card}}</span>
                    
                </li>
         
                
            </ul>
            <div class="order">
                <button class="btn-project" mat-raised-button color="primary" type="submit">PROCEED TO PAYMENT</button>
              </div>
            </div>
            <div class="mainOrder-wrapper pl-15" fxFlex="100" fxFlex.gt-md="40" fxFlex.md="40">
              <div class="main-order " >
                <div class="order-box">
                    <div class="title-box">
                        <div>Order Recap </div>
                    </div>
                    <ul class="price-list" >
                      <li >
                        <p>Contracted price</p> 
                        <span>
                         $187.00
                          </span>
                      </li>
                      <li >
                        <p>Amount towards deductible</p>
                       <span>
                        $0.00
                         </span>
                     </li>
                     <li >
                        <p> Coinsurance (0%)</p>
                       <span>
                        +$0.00
                         </span>
                     </li>
                     <li >
                        <p> Copayment</p>
                       <span>
                        +$35.00
                         </span>
                     </li>
                  </ul>
                 
                  <ul class="price-list">
                    <li>
                     <p>Toatal deductible,<br>Coinsurance and Copay</p>  <span class="amount">$50.00</span>
                    </li>
                    <li>
                        <p>Maximum out-of-pocket on<br>Insurance policy<br>(not reached)</p>  <span class="amount">$5000.00</span>
                       </li>
                    
                </ul>
                <ul class="price-list">
                    <li>
                     <p>Insurance Responsibility</p>  <span class="amount">$53.00</span>
                    </li>
                    <li>
                        <p>Patient Balance</p>  <span class="amount">$13.55</span>
                       </li>
                    
                </ul>
                <ul class="total">
                  <li>Total <span class="count">$102.00</span></li>
              </ul>
              
                 </div>
            </div>
            </div>
  
         </div>
      </div>
  </div>
  