<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="space-between start"  class="">
            <div class="breadcrumb-title  pr-15" fxFlex="100" fxFlex.gt-md="45" fxFlex.md="45">
          <div class="page-title">
            <h4> <a *ngIf="hasBack==true" href="javascript:history.back()"> volver  | </a> {{ title }}  </h4>
          </div>
        </div>
        <div class="breadcrumb-path " fxFlex="100" fxFlex.gt-md="45" fxFlex.md="45">
                <ol class="breadcrumb" fxLayout="row">
                  <li class="breadcrumb-item-home"><a [routerLink]="'/home/'">Home</a></li>
                  <li class="breadcrumb-item">/</li>
                  <li class="breadcrumb-item-path active" aria-current="page">{{ breadcrumb }}</li>
                </ol>
        </div>
    </div>
    </div>
  </div>
  <!-- breadcrumb End -->